<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./master.css">
    <title>Document</title>
  </head>
  <body>
    <section>
      <h2>features</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit obcaecati voluptates itaque 
        ut sequi sint sit incidunt doloribus numquam cum reprehenderit, cu id illum?</p>
        <div class="services">
          <div class="ser">
          <i class="fa fa-bullhorn" ></i> 
          <div class="info">
            <h3>Fresh and clean</h3>
            <p>Lorem ipsum dolor sit amet vitae accusantium commodi  </p>
          </div>
          </div>
          <div class="ser">
            <i class="fa fa-comments"></i>
            <div class="info">
              <h3>sed de sudiom</h3>
              <p>Lorem ipsum dolor sit amet vitae accusantium commodi  </p>
            </div>
          </div>
          <div class="ser">
            <i class="fa fa-cloud-download"></i> 
            <div class="info">
              <h3>retian rady</h3>
              <p>Lorem ipsum dolor sit amet vitae accusantium commodi </p>
            </div>
          </div>
          <div class="ser">
            <i class="fa fa-leaf"></i>
            <div class="info">
              <h3>easy to customize</h3>
              <p>Lorem ipsum dolor sit amet vitae accusantium commodi  </p>
            </div>
          </div>
          <div class="ser">
            <i class="fa fa-cogs"></i>
            <div class="info">
              <h3>adiscilping edit</h3>
              <p>Lorem ipsum dolor sit amet vitae accusantium commodi  </p>
            </div>
          </div>
          <div class="ser">
            <i class="fa fa-heart"></i>
            <div class="info">
              <h3>labored de color</h3>
              <p>Lorem ipsum dolor sit amet vitae accusantium commodi </p>
            </div>
          </div> 
        </div>

    </section>


  </body>
</html>
