body{
  margin: 0;
  text-align: center;
  background-color: aqua;
}

div{
  border: 1px solid rgb(40, 42, 45);
  color: white;
}

.layout{
  height: 90vh;
  margin: 40px auto;
  max-width: 800px;
  transform: rotate(45deg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.one,.two,.three,.four,.five{
  background-color: rgb(40, 42, 45);
}

.one{
  grid-row: span 2;
}
.two{
  grid-column: span 2;
}

.four{
  grid-row: span 2;
}

.five{
grid-column: span 2;
}

@media (min-width:200px) and (max-width:400px) {
  body{
    background-color: red;
  }
  .layout{
    height: 50vh;
    margin: 100px auto;
  }
}
@media (min-width:401px) and (max-width:600px) {
  body{
    background-color: yellow;
  }
  .layout{
    height: 60vh;
    margin: 90px auto;
  }
}
@media (min-width:601px) and (max-width:700px) {
  body{
    background-color: hotpink;
  }
  .layout{
    height: 70vh;
    margin: 80px auto;
  }
}