@import './colors';

.main{
  .main-title{
    color: $primary;
  }
  .main-subtitle{
    color: $secondary;
  }
  .main-btn{
    background-color: $primary;
    &:hover{
      background-color: $secondary;
    }
  }
}

$sizes: 18px,16px,14px;
@each $size in $sizes{
  .font-#{$size}{
    font-size: $size;
  }
}

.finish-btn{
  margin: 0 auto;
  display: block;
  @media (max-width:500px) {
    width: 100%;
  }
  @media (min-width:501px) {
    width: 50%;
  }

}