.box{
  background-color: black;
  height: 300px;
  width: 150px;
  transform: translate(50%,50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
}

.box::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100px;
  width: 40px;
  bottom: -100px;
}


div>div{
  margin: 10px;

}

.red{
  background-color: red;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.red:hover{
  animation: lightRed 1s ;
}
.yellow{
  background-color: yellow;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.yellow:hover{
  animation: lightYelow 1s ;
}

.green{
  background-color: green;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.green:hover{
  animation: lightgren 1s ;
}





@keyframes lightRed {
  50%{
    box-shadow: 0 0 0 10px red;
  }
}
@keyframes lightYelow {
  50%{
    box-shadow: 0 0 0 10px yellow;
  }
}
@keyframes lightgren {
  50%{
    box-shadow: 0 0 0 10px green;
  }
}